@CHARSET "UTF-8";
.page-head{
	margin-bottom:10px;
	padding-left:10px;
	border-bottom:0px;
	margin-top:20px;
	position:absolute;
}
.drop{
	margin:5px;
	float:right;
	margin-top:30px;
	margin-bottom:20px;
	font-size:16px;
	font-weight:bolder;
	background-color:rgb(84, 151, 226);
}
.res{
	clear:both;
	padding-top:5px;
	border-top:1px solid #f0e2e2;
}
.btn1{
	float:right;
}