<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>messageSystem</display-name>
  <jsp-config>
    <taglib>
      <taglib-uri>localhost/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>servlet</servlet-name>
    <servlet-class>servlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servletlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>servlet.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/servletregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerd</servlet-name>
    <servlet-class>servlet.registeredservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerd</servlet-name>
    <url-pattern>/servletregistered</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>person</servlet-name>
    <servlet-class>servlet.personservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>person</servlet-name>
    <url-pattern>/servletperson</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alter</servlet-name>
    <servlet-class>servlet.alterservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showstu</servlet-name>
    <url-pattern>/servletalter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showstu</servlet-name>
    <servlet-class>servlet.showstuservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showstu</servlet-name>
    <url-pattern>/servletshowstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getclass</servlet-name>
    <servlet-class>servlet.getclassservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getclass</servlet-name>
    <url-pattern>/servletgetclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>simpledata</servlet-name>
    <servlet-class>servlet.SimpleDataservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>simpledata</servlet-name>
    <url-pattern>/servletSimpleData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getKnowledge</servlet-name>
    <servlet-class>servlet.getKnowledgeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getKnowledge</servlet-name>
    <url-pattern>/servletgetKnowledge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>match</servlet-name>
    <servlet-class>servlet.matchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>match</servlet-name>
    <url-pattern>/servletmatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>examservlet</servlet-name>
    <servlet-class>servlet.examservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>examservlet</servlet-name>
    <url-pattern>/servletexam</url-pattern>
  </servlet-mapping>
</web-app>